<!doctype html>
<html>
<head>
  <meta charset="utf8">
	<title>Лекции Школы Разработки Интерфейсов</title>
	<link rel="stylesheet" href="css/style.build.css">
  <script data-main="js/app.build.js" src="js/require.min.js"></script>
</head>
<body>
  <div id="body" class="container">
    <div class="row">
      <div class="span12">
        <h1>Лекции Школы Разработки Интерфейсов</h1>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li><a href="#view">Обзор</a></li>
      <li><a href="#add">Добавить</a></li>
      <li><a href="#import">Импорт</a></li>
      <li><a href="#export">Экспорт</a></li>
    </ul>

    <section id="view" class="section">
      #view section
    </section>

    <section id="add" class="section">
      #add section
    </section>

    <section id="import" class="section">
      #import section
    </section>

    <section id="export" class="section">
      #export section
    </section>

  </div>

  <!-- ####### Templates ####### -->
  <!-- TODO: Move templates to separate files -->
  <script id="lecture-template" type="text/template">
    <div class="lecture-info-date">
      <span class="lecture-date">
        <span class="icon-calendar"></span>
        <%= date %>
      </span>
      <span class="lecture-time">
        <span class="icon-time"></span>
        <%= time %>
      </span>
    </div>
    <div class="lecture-info-about">
      <span class="lecture-title">
        <%= title %>
      </span>
      <span class="lecture-lecturer">
        <%= lecturer %>
      </span>
      <a class="lecture-edit" href="#">
        редактировать
      </a>
    </div>
  </script>

  <script id="schedule-template" type="text/template">
    <div class="schedule-title">
      <span class="icon-bookmark"></span>
      <span class="schedule-title-text"><%= title %></span>
    </div>
    <div class="schedule-lectures">

    </div>
  </script>

</body>
</html>