.schedule {
  padding: 10px;
}

.schedule-title {
  font-size: 2em;
  line-height: 2em;
  border-radius: 5px 5px 0 0;
  background: #f5f5f5;
}

.schedule-lectures {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background: #f5f5f5;
}

.schedule:hover {
  padding: 9px;
}

.schedule:hover > .schedule-title {
  border: 1px solid #ccc;
  border-bottom: none;
}

.schedule:hover > .schedule-lectures {
  border: 1px solid #ccc;
  border-top: none;
}

.schedule-lectures > .lecture:hover {
  border-color: #bbb9b9;
}